@charset "UTF-8";

@font-face {
  font-family: "Bravo";
  font-display: swap;
  src: url("../fonts/BravoRG Regular.woff") format("woff"), url("../fonts/BravoRG Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ceremon";
  font-display: swap;
  src: url("../fonts/ceremonious_one.woff") format("woff"), url("../fonts/ceremonious_one.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PFD";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/pfdintextcondpro-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
  font-display: swap;
  src: url("../fonts/PTN57F.woff") format("woff"), url("../fonts/PTN57F.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PFD";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-regular.woff") format("woff"), url("../fonts/pfdintextcondpro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/PTS55F.woff") format("woff"), url("../fonts/PTS55F.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/PTS75F.woff") format("woff"), url("../fonts/PTS75F.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/PTS56F.woff") format("woff"), url("../fonts/PTS56F.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.1;
  font-weight: 400;
  color: #333333;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body._lock {
  overflow: hidden;
}

a:focus,
button:focus {
  outline: 1px auto #bb9c66;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 980px;
  padding: 0px 15px;
  margin: 0 auto;
}

._visualy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  background-color: #1c242a;
}

.header__content {
  padding: 20px 0 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin: 0 15px 12px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 145px;
          flex: 0 0 145px;
  width: 145px;
  height: 32px;
}

.header__logo img {
  max-width: 100%;
  max-height: 100%;
}

.header__main-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 450px;
          flex: 1 0 450px;
}

.header__user-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
}

.main-menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu__list {
  margin: 0 -14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu__link {
  margin: 0 9px;
  padding: 5px;
  font-family: "PFD";
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.user-menu__region {
  padding: 2px 0px 0;
  margin-right: 20px;
}

.user-menu__search {
  margin-right: 25px;
  padding: 2px 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "PFD";
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #bb9c66;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.user-menu__search::before {
  content: "";
  margin-right: 5px;
  width: 18px;
  height: 20px;
  background: url("../img/icons/header/search.svg") 0 0/auto 100% no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.user-menu__search:focus,
.user-menu__search:hover {
  color: #fff;
  text-shadow: 0 0 2px #fff;
  outline-offset: 3px;
}

.user-menu__search:focus::before,
.user-menu__search:hover::before {
  -webkit-filter: drop-shadow(0 0 5px #fff);
          filter: drop-shadow(0 0 5px #fff);
  background: url("../img/icons/header/search-h.svg") 0 0/auto 100% no-repeat;
}

.user-menu__submenu {
  margin: auto 0 -18px 0;
}

.region {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region__link {
  padding: 5px 0px;
  margin-right: 10px;
  font-family: "PFD";
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.1em;
  color: #bb9c66;
  text-transform: uppercase;
  -webkit-text-decoration: underline dotted #bb9c66 2px;
          text-decoration: underline dotted #bb9c66 2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.region__link:last-child {
  margin-right: 0;
}

.region__link:focus,
.region__link:hover {
  color: #fff;
  text-decoration: inherit;
  -webkit-text-decoration: underline dotted #fff 2px;
          text-decoration: underline dotted #fff 2px;
  outline-offset: 4px;
}

.user-submenu {
  position: relative;
  z-index: 5;
  padding-bottom: 20px;
}

.user-submenu._active .user-submenu__container {
  -webkit-transform: translate(0, 0) scaleY(1);
      -ms-transform: translate(0, 0) scaleY(1);
          transform: translate(0, 0) scaleY(1);
  visibility: visible;
  opacity: 1;
}

.user-submenu._active .user-submenu__button {
  -webkit-filter: brightness(1.5) drop-shadow(0 0 2px #fff);
          filter: brightness(1.5) drop-shadow(0 0 2px #fff);
}

.user-submenu__button {
  display: block;
  width: 45px;
  height: 25px;
  background: url("../img/icons/header/user-menu.svg") 0 0/auto 30px no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.user-submenu__container {
  position: absolute;
  z-index: -1;
  top: 100%;
  right: 0px;
  padding-top: 2px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(0, -50%) scaleY(0);
      -ms-transform: translate(0, -50%) scaleY(0);
          transform: translate(0, -50%) scaleY(0);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.user-submenu__list {
  padding: 8px 22px 20px;
  width: 180px;
  background-color: #1c242a;
}

.user-submenu__list ._moved-node {
  margin: 0 0 5px 0;
}

.user-submenu__list ._moved-node a {
  margin: 7px 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: none;
}

.user-submenu__list ._moved-node .region {
  margin: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.user-submenu__list ._moved-node .user-menu__search::before {
  margin-right: 15px;
}

.user-submenu__item {
  margin: 0 0 10px 0;
}

.user-submenu__item:last-child {
  margin: 0;
}

.user-submenu__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}

.user-submenu__link:focus,
.user-submenu__link:hover {
  color: #bb9c66;
  text-shadow: 0 0 2px #bb9c66;
  outline: none;
}

.user-submenu__link_region::before {
  background: url("../img/icons/header/global.png") center/20px 20px no-repeat;
}

.user-submenu__link_login::before {
  background: url("../img/icons/header/key.png") 0 0/contain no-repeat;
}

.user-submenu__link_bets::before {
  background: url("../img/icons/header/palm.svg") 0 0/contain no-repeat;
}

.user-submenu__link_lots::before {
  background: url("../img/icons/header/hammer.svg") 0 0/contain no-repeat;
}

.user-submenu__link::before {
  content: "";
  margin-right: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17px;
          flex: 0 0 17px;
  width: 17px;
  height: 17px;
}

.footer {
  padding: 50px 0px;
  background-color: #1c242a;
}

.footer__row {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  padding: 0 10px;
}

.footer__column:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__column:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer__logo {
  margin-top: -10px;
  margin-bottom: 20px;
}

.footer__copyright {
  font-size: 14px;
  line-height: 21px;
  color: #bb9c66;
}

.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__menu-item {
  margin: 0 15px 15px 0;
}

.footer__menu-item:last-child {
  margin-right: 0;
}

.footer__menu-link {
  font-family: "PFD";
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Bravo";
  font-size: 50px;
  line-height: 1;
  text-transform: uppercase;
  color: #bb9c66;
}

.footer__phone span {
  margin-right: 5px;
  font-size: 25px;
}

.footer__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: #bb9c66;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
  text-decoration-thickness: 2px;
}

.footer__callback::before {
  content: "";
  margin-right: 3px;
  width: 12px;
  height: 12px;
  background: url("../img/icons/footer/contacts.svg") 0 center no-repeat;
}

.page {
  padding: 73px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__popular-lots {
  margin-bottom: 60px;
}

.page__categories {
  margin-bottom: 80px;
}

.page__about-us {
  margin-bottom: 77px;
}

.page__quotes {
  margin-bottom: 70px;
}

.page__info {
  margin-bottom: 50px;
}

.section-header__title {
  text-align: center;
  font-family: "PFD";
  font-size: 35px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #1c242a;
}

.section-header__title_main {
  color: #ffffff;
}

.section-header__suptitle {
  margin-bottom: 30px;
  display: block;
  font-family: "Ceremon";
  font-size: 40px;
  line-height: 25px;
  color: #bb9c66;
  text-transform: none;
  letter-spacing: normal;
}

.section-header__decor-line {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.section-header__decor-line::before,
.section-header__decor-line::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  height: 25px;
}

.section-header__decor-line::before {
  background: url("../img/icons/line-left.svg") right center/auto 100% no-repeat;
}

.section-header__decor-line::after {
  background: url("../img/icons/line-right.svg") left center/auto 100% no-repeat;
}

.section-header__decor-icon {
  margin: 0 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 5px #bb9c66;
          box-shadow: 0 5px 5px #bb9c66;
  overflow: hidden;
  background-position: center;
  background-size: 105%;
  background-repeat: no-repeat;
}

.section-header__decor-icon_products {
  background-image: url("../img/icons/catalog/watch.png");
}

.section-header__decor-icon_services {
  background-image: url("../img/icons/services/services.png");
  -webkit-box-shadow: 0 5px 5px #000;
          box-shadow: 0 5px 5px #000;
}

.section-header__decor-icon_quotes {
  background-image: url("../img/icons/quotes/quote.png");
}

.button {
  padding: 14px 30px;
  display: inline-block;
  text-align: center;
  font-family: "PFD";
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  border: 3px solid #c3a774;
  -o-border-image: -o-linear-gradient(top, #c3a774 0, #8d642d 100%);
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c3a774), to(#8d642d));
     border-image: linear-gradient(to bottom, #c3a774 0, #8d642d 100%);
  border-image-slice: 1;
}

.button:hover {
  -webkit-box-shadow: 0 0 5px 1px #bb9c66;
          box-shadow: 0 0 5px 1px #bb9c66;
  color: #8d642d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #8d642d), color-stop(50%, #c3a774), color-stop(60%, #8d642d));
  background-image: -o-linear-gradient(top, #8d642d 40%, #c3a774 50%, #8d642d 60%);
  background-image: linear-gradient(to bottom, #8d642d 40%, #c3a774 50%, #8d642d 60%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button_main {
  padding: 14px 50px;
  color: #fff;
}

.main-slider {
  position: relative;
  width: 100vw;
}

.main-slider__slide {
  padding-top: 60px;
  padding-bottom: 50px;
  min-height: 400px;
  background-color: #2c3c47;
  background: url("../img/bg.jpg") center/cover no-repeat;
}

.main-slider__slide:nth-child(2) {
  background: url("../img/bg-2.jpg") center/cover no-repeat;
}

.main-slider__header {
  margin-bottom: 20px;
}

.main-slider__text {
  margin: 0 auto 50px;
  text-align: center;
  max-width: 690px;
  line-height: 25px;
  color: #ffffff;
}

.main-slider__button {
  margin: 0 0 50px;
  text-align: center;
}

.main-slider__control {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.control-main-slider {
  width: 100px;
  height: 50px;
}

.control-main-slider__bg {
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 0;
  border-bottom: 50px solid #fff;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.control-main-slider__buttons {
  position: absolute;
  bottom: -50%;
  left: 0;
  padding: 0px 10px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.control-main-slider__buttons span {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
  height: 26px;
  width: 26px;
  background-image: -o-radial-gradient(circle, #8d642d 0%, #8d642d 30%, rgba(195, 167, 116, 0.7) 100%);
  background-image: radial-gradient(circle, #8d642d 0%, #8d642d 30%, rgba(195, 167, 116, 0.7) 100%);
  border-radius: 50%;
}

.control-main-slider__buttons span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
}

.control-main-slider__buttons span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 28px;
  height: 28px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  background-image: -o-linear-gradient(315deg, transparent 0, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.8) 70%, white 100%);
  background-image: linear-gradient(135deg, transparent 0, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.8) 70%, white 100%);
  border-radius: 50%;
}

.control-main-slider__arrow {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
  height: 25px;
}

.control-main-slider__arrow::before,
.control-main-slider__arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 18px;
  height: 2px;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  background-color: #bb9c66;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(255, 255, 255, 0.7)), color-stop(60%, rgba(195, 167, 116, 0.7)), to(#8d642d));
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0.7) 0, rgba(195, 167, 116, 0.7) 60%, #8d642d 100%);
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.7) 0, rgba(195, 167, 116, 0.7) 60%, #8d642d 100%);
}

.control-main-slider__arrow::before {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
      -ms-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}

.control-main-slider__arrow::after {
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.control-main-slider__arrow:focus {
  outline: none;
}

.control-main-slider__arrow:hover::before,
.control-main-slider__arrow:hover::after {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8d642d), color-stop(50%, #c3a774), to(#8d642d));
  background-image: -o-linear-gradient(bottom, #8d642d 0%, #c3a774 50%, #8d642d 100%);
  background-image: linear-gradient(to top, #8d642d 0%, #c3a774 50%, #8d642d 100%);
}

.control-main-slider__arrow_next {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.popular-lots {
  padding: 85px 0px 0px;
}

.popular-lots__header {
  margin: 0 0 50px 0;
}

.slider-lots__items {
  margin-bottom: 50px;
}

.slider-lots__controls {
  margin: 0 auto;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-lots__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-lots__button::before {
  content: "";
  margin-right: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 35px;
  background: url("../img/icons/catalog/prev-h.svg") 0 center/100% no-repeat;
}

.slider-lots__button::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11px;
          flex: 0 0 11px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 2px solid #bb9c66;
}

.slider-lots__button_next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-lots__button:focus {
  outline: none;
}

.slider-lots__link {
  margin: 0 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  font-family: "PFD";
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border-radius: 50%;
  border: 3px solid #bb9c66;
}

.card-lot {
  max-width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-lot__image-block {
  position: relative;
  margin-bottom: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  width: 250px;
  height: 250px;
}

.card-lot__image-link {
  display: block;
  width: 100%;
  height: 100%;
  border: 3px solid #bb9c66;
  overflow: hidden;
}

.card-lot__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-lot__timer-block {
  position: absolute;
  bottom: -1px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100px;
  height: 51px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  overflow: hidden;
}

.card-lot__timer-block::before {
  content: "";
  position: relative;
  z-index: 3;
  margin-bottom: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
  width: 12px;
  height: 15px;
  background: url("../img/icons/catalog/hourglass.svg") center/contain no-repeat;
}

.card-lot__timer-block::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  display: block;
  width: 70.5px;
  height: 70.5px;
  background-color: #fff;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: translate(0, 0%) rotate(45deg);
      -ms-transform: translate(0, 0%) rotate(45deg);
          transform: translate(0, 0%) rotate(45deg);
}

.card-lot__timer {
  position: relative;
  z-index: 2;
  font-family: PT Sans Narrow;
  font-size: 16px;
  color: #000000;
}

.card-lot__label {
  margin-bottom: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  font-family: "PFD";
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
}

.card-lot__price {
  width: 100%;
  margin-bottom: 24px;
}

.price-lot__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.price-lot__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  text-align: center;
}

.price-lot__col_central {
  position: relative;
  padding: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.price-lot__col_central::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 70.71px;
  height: 70.71px;
  border: 1px solid #bb9c66;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.price-lot__col_central::after {
  content: "₽";
}

.price-lot__views::before,
.price-lot__count-rate::before {
  content: "";
  margin: 0 auto 8px;
  display: block;
  width: 25px;
  height: 25px;
}

.price-lot__views::after,
.price-lot__count-rate::after {
  content: "";
  margin-top: 4px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #bb9c66;
}

.price-lot__views::before {
  background: url("../img/icons/catalog/eye.svg") 0 0/100% no-repeat;
}

.price-lot__current-rate {
  font-family: "Bravo";
  font-size: 50px;
  line-height: 60px;
  color: #1c242a;
}

.price-lot__count-rate::before {
  background: url("../img/icons/catalog/hand.svg") 0 0/100% no-repeat;
}

.categories-lots__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -20px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.categories-lots__item {
  position: relative;
  margin: 25px 0px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.categories-lots__item:nth-child(3n-2) {
  margin-right: auto;
}

.categories-lots__item:nth-child(3n) {
  margin-left: auto;
}

.categories-lots__item::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bb9c66;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.categories-lots__link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.categories-lots__link span {
  position: relative;
  padding: 25px 15px 10px;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "PFD";
  font-size: 21px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(2, 2, 2, 0.8);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.categories-lots__link span::before {
  content: "";
  margin-bottom: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  width: 34.2%;
  height: 35%;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.categories-lots__link span::after {
  content: "";
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  width: 100px;
  height: 22px;
  background: url("../img/icons/catalog/pattern-catalog.svg") center/contain no-repeat;
}

.categories-lots__link_watch {
  background-image: url("../img/categories/watch.jpg");
}

.categories-lots__link_watch span::before {
  background-image: url("../img/icons/catalog/watch.svg");
}

.categories-lots__link_jewelery {
  background-image: url("../img/categories/jewelery.jpg");
}

.categories-lots__link_jewelery span::before {
  background-image: url("../img/icons/catalog/jewelery.svg");
}

.categories-lots__link_transport {
  background-image: url("../img/categories/ship.jpg");
}

.categories-lots__link_transport span::before {
  background-image: url("../img/icons/catalog/car.svg");
}

.categories-lots__link_accessories {
  background-image: url("../img/categories/accessories.jpg");
}

.categories-lots__link_accessories span::before {
  background-image: url("../img/icons/catalog/accessories.svg");
}

.categories-lots__link_real-estate {
  background-image: url("../img/categories/estate.jpg");
}

.categories-lots__link_real-estate span::before {
  background-image: url("../img/icons/catalog/estate.svg");
}

.categories-lots__link_hi-tech {
  background-image: url("../img/categories/hi-tech.jpg");
}

.categories-lots__link_hi-tech span::before {
  background-image: url("../img/icons/catalog/hi-tech.svg");
}

.categories-lots__link_clothes {
  background-image: url("../img/categories/clothes.jpg");
}

.categories-lots__link_clothes span::before {
  background-image: url("../img/icons/catalog/clothes.svg");
}

.categories-lots__link_art {
  background-image: url("../img/categories/art.jpg");
}

.categories-lots__link_art span::before {
  background-image: url("../img/icons/catalog/art.svg");
}

.categories-lots__link_food {
  background-image: url("../img/categories/food.jpg");
}

.categories-lots__link_food span::before {
  background-image: url("../img/icons/catalog/food.svg");
}

.about-us__text {
  padding: 10px 0 10px 130px;
  background: url("../img/icons/pattern.svg") 0 5px repeat-y;
}

.about-us__text p {
  margin-bottom: 25px;
  line-height: 25px;
}

.about-us__text p:last-child {
  margin-bottom: 0px;
}

.services {
  padding: 60px 0px 100px;
  background-color: #1c242a;
}

.services__header {
  margin-bottom: 55px;
}

.services__body {
  margin: 0 -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.services__column {
  margin: 0px 20px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 255px;
          flex: 0 1 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__icon {
  height: 165px;
  margin-bottom: 20px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.services__icon_valuation {
  background-image: url("../img/icons/services/valuation.png");
}

.services__icon_components {
  background-image: url("../img/icons/services/components.png");
}

.services__icon_repair {
  background-image: url("../img/icons/services/repair.png");
}

.services__label {
  margin-bottom: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  font-family: "PFD";
  font-size: 21px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.services__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 1.66;
  color: #bb9c66;
}

.services__link {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 255px;
  font-family: "PFD";
  font-size: 21px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__link::before,
.services__link::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  background-color: #bb9c66;
}

.services__link::before {
  margin-right: 15px;
}

.services__link::after {
  margin-left: 15px;
}

.quotes {
  padding: 66px 0 0;
}

.quotes__container {
  min-width: 0;
}

.quotes__header {
  margin-bottom: 15px;
}

.quotes__slide {
  padding: 5px 0px;
  background-color: #fff;
}

.quotes__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quotes__control span {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 105px;
          flex: 0 1 105px;
  width: 105px;
  height: 1px;
  background-color: #bb9c66;
}

.quotes__control span::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -18px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
}

.quotes__control span:last-child::after {
  left: -18px;
}

.quotes__button {
  margin: 0 65px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../img/icons/quotes/update.svg") 0 0/100% no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.quotes__button:focus {
  outline: none;
}

.block-quotes__row {
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}

.block-quotes__image {
  position: relative;
  margin-right: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  width: 25%;
  height: 0;
  padding-bottom: 30.6%;
}

.block-quotes__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.block-quotes__content {
  min-width: 0;
  padding: 20px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.block-quotes__content p {
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  font-style: italic;
  color: #000000;
}

.block-quotes__author {
  font-size: 15px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 700;
  color: #1c242a;
}

.block-quotes__author span {
  display: block;
  margin-top: 10px;
}

.info-title {
  font-family: "PFD";
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}

.info-title::before {
  content: "";
  margin-right: 20px;
  display: inline-block;
  width: 23px;
  height: 25px;
  background-position: right center;
  background-size: auto;
  background-repeat: no-repeat;
}

.info-title_news::before {
  width: 18px;
  background-image: url("../img/icons/quotes/news.svg");
}

.info-title_events::before {
  background-image: url("../img/icons/quotes/events.svg");
}

.info-title_subscribe::before {
  background-image: url("../img/icons/quotes/subscribe.svg");
}

.info__block {
  margin: 0 -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__section {
  padding: 0px 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.section-info__title {
  margin-bottom: 25px;
}

.section-info__item {
  margin-bottom: 30px;
}

.section-info__item:last-child {
  margin-bottom: 0;
}

.section-info__time {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #bb9c66;
}

.section-info__link {
  display: block;
  font-size: 15px;
  line-height: 25px;
  color: #333333;
}

.section-info__label {
  font-weight: 700;
  text-decoration: underline;
}

.subscribe-section__title {
  margin-bottom: 25px;
}

.subscribe-section__form {
  margin: 0 -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-section__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 40px;
}

.subscribe-section__col:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0.5 50%;
          flex: 0 0.5 50%;
}

.subscribe-section__desc {
  font-size: 15px;
  line-height: 25px;
  color: #333333;
}

.input-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #bb9c66;
}

.input-form._focus {
  -webkit-box-shadow: 0 0 5px 1px #bb9c66;
          box-shadow: 0 0 5px 1px #bb9c66;
}

.input-form._err {
  border-color: red;
}

.input-form ._err-message {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(0, 150%);
      -ms-transform: translate(0, 150%);
          transform: translate(0, 150%);
  font-size: 12px;
  color: red;
}

.input-form__email {
  padding: 10px 10px 10px 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 15px;
  line-height: 18px;
  color: #4f4f4f;
}

.input-form__email:focus {
  outline: none;
}

.input-form__email::-webkit-input-placeholder {
  font-size: 15px;
  color: #4f4f4f;
}

.input-form__email::-moz-placeholder {
  font-size: 15px;
  color: #4f4f4f;
}

.input-form__email:-ms-input-placeholder {
  font-size: 15px;
  color: #4f4f4f;
}

.input-form__email::-ms-input-placeholder {
  font-size: 15px;
  color: #4f4f4f;
}

.input-form__email::placeholder {
  font-size: 15px;
  color: #4f4f4f;
}

.input-form__email._err {
  color: red;
}

.input-form__submit {
  position: relative;
  padding: 10px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "PFD";
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1c242a;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input-form__submit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 1.5px;
  height: 90%;
  background-color: #bb9c66;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.input-form__submit::after {
  content: "";
  margin-left: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28px;
          flex: 0 0 28px;
  width: 28px;
  height: 17px;
  background: url("../img/icons/quotes/submit.svg") 0 center/100% no-repeat;
}

.input-form__submit:focus {
  outline: none;
  color: #bb9c66;
}

@media (min-width: 659.98px) {
  .categories-lots__block {
    padding: 38px 0px;
  }

  .categories-lots__list {
    margin: -25px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .categories-lots__item:nth-child(-n + 3)::before {
    display: none;
  }
}

@media (min-width: 867.98px) {
  .main-menu__link:focus,
  .main-menu__link:hover {
    color: #bb9c66;
    text-shadow: 0 0 1px #bb9c66;
    -webkit-filter: brightness(1.5) drop-shadow(0 0 2px #fff);
            filter: brightness(1.5) drop-shadow(0 0 2px #fff);
  }

  .user-submenu:hover .user-submenu__container {
    -webkit-transform: translate(0, 0) scaleY(1);
        -ms-transform: translate(0, 0) scaleY(1);
            transform: translate(0, 0) scaleY(1);
    visibility: visible;
    opacity: 1;
  }

  .user-submenu:hover .user-submenu__button {
    -webkit-filter: brightness(1.5) drop-shadow(0 0 2px #fff);
            filter: brightness(1.5) drop-shadow(0 0 2px #fff);
  }

  .user-submenu__button:focus {
    -webkit-filter: brightness(1.5) drop-shadow(0 0 2px #fff);
            filter: brightness(1.5) drop-shadow(0 0 2px #fff);
    outline-offset: 5px;
  }

  .footer__column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }

  .footer__menu-link:hover {
    color: #bb9c66;
  }

  .slider-lots__button::before {
    background: url("../img/icons/catalog/prev.svg") center/100% no-repeat;
  }

  .slider-lots__button:not(.swiper-button-disabled):hover::before {
    background: url("../img/icons/catalog/prev-h.svg") center/100% no-repeat;
  }

  .slider-lots__button:not(.swiper-button-disabled):hover::after {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 13px;
            flex: 0 0 13px;
    width: 13px;
    height: 13px;
    border: 2px solid #bb9c66;
  }

  .slider-lots__link:hover {
    -webkit-box-shadow: 0 0 5px #bb9c66;
            box-shadow: 0 0 5px #bb9c66;
    color: #bb9c66;
  }

  .categories-lots__link span:hover {
    color: #fff;
    text-shadow: 0 0 10px #1c242a;
    background-color: rgba(2, 2, 2, 0.25);
    -webkit-box-shadow: 0 0 20px 0px rgba(2, 2, 2, 0.5);
            box-shadow: 0 0 20px 0px rgba(2, 2, 2, 0.5);
  }

  .services__link:hover {
    -webkit-box-shadow: 0 0 5px 5px #bb9c66;
            box-shadow: 0 0 5px 5px #bb9c66;
    color: #fff8d7;
    outline: 1px solid #fff;
  }

  .services__link:hover::before,
  .services__link:hover::after {
    text-shadow: 0 0 40px #bb9c66;
    background-color: #fff;
    height: 2px;
  }

  .quotes__button:hover {
    -webkit-box-shadow: 0 0 5px #bb9c66;
            box-shadow: 0 0 5px #bb9c66;
  }

  .section-info__link:hover {
    text-decoration: underline;
    color: #b8914e;
  }

  .input-form__submit:hover {
    color: #bb9c66;
  }
}

@media (min-width: 980px) {
  .categories-lots__block {
    background: url("../img/icons/catalog/catalog-grid.svg") center top repeat-y;
  }
}

@media (max-width: 980px) {
  .user-menu__search {
    margin-right: 15px;
  }

  .card-lot {
    margin: 0 auto;
  }

  .categories-lots__link span::before {
    margin-bottom: 15px;
  }
}

@media (max-width: 950px) {
  .footer__phone {
    font-size: calc(30px + 20 * ((100vw - 320px) / 630));
  }

  .footer__phone span {
    font-size: calc(18px + 7 * ((100vw - 320px) / 630));
  }

  .section-header__title {
    font-size: calc(25px + 10 * ((100vw - 320px) / 630));
  }

  .main-slider__slide {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 630));
  }

  .categories-lots__item {
    -ms-flex-preferred-size: calc(150px + 100 * ((100vw - 320px) / 630));
        flex-basis: calc(150px + 100 * ((100vw - 320px) / 630));
  }

  .categories-lots__item {
    width: calc(150px + 100 * ((100vw - 320px) / 630));
  }

  .categories-lots__item {
    height: calc(150px + 100 * ((100vw - 320px) / 630));
  }

  .categories-lots__link span {
    padding-top: calc(10px + 15 * ((100vw - 320px) / 630));
  }

  .categories-lots__link span {
    font-size: calc(14px + 7 * ((100vw - 320px) / 630));
  }

  .services__icon {
    height: calc(80px + 85 * ((100vw - 320px) / 630));
  }

  .services__label {
    font-size: calc(15px + 6 * ((100vw - 320px) / 630));
  }

  .services__description {
    font-size: calc(12px + 3 * ((100vw - 320px) / 630));
  }

  .services__link {
    font-size: calc(15px + 6 * ((100vw - 320px) / 630));
  }

  .block-quotes__content p {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 630));
  }

  .block-quotes__content p {
    font-size: calc(15px + 10 * ((100vw - 320px) / 630));
  }

  .block-quotes__author {
    font-size: calc(12px + 3 * ((100vw - 320px) / 630));
  }

  .input-form__submit {
    font-size: calc(18px + 3 * ((100vw - 320px) / 630));
  }
}

@media (max-width: 867.98px) {
  a:focus,
  button:focus {
    outline: none;
  }

  .header__content {
    padding: 10px 0;
  }

  .header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 10px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    width: 100px;
    height: auto;
  }

  .header__main-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__user-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .main-menu__burger-icon {
    position: absolute;
    z-index: 5;
    top: 50%;
    padding: 2px;
    width: 30px;
    height: 17px;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .main-menu__burger-icon span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #bb9c66;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .main-menu__burger-icon span:first-child {
    top: 0px;
  }

  .main-menu__burger-icon span:nth-child(2) {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .main-menu__burger-icon span:last-child {
    bottom: 0;
  }

  .main-menu__burger-icon._active span {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-filter: brightness(1.5) drop-shadow(0 0 2px #fff);
            filter: brightness(1.5) drop-shadow(0 0 2px #fff);
  }

  .main-menu__burger-icon._active span:first-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-menu__burger-icon._active span:nth-child(2) {
    display: none;
  }

  .main-menu__burger-icon._active span:last-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .main-menu__body {
    position: absolute;
    z-index: -1;
    top: 105%;
    left: 3px;
    padding: 50px 20px;
    display: block;
    width: 50%;
    max-height: calc(100vh - 105%);
    background-color: rgba(28, 36, 42, 0.9);
    -webkit-transform: translate(0, -200%);
        -ms-transform: translate(0, -200%);
            transform: translate(0, -200%);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
  }

  .main-menu__body .main-menu__link {
    color: #1c242a;
    -webkit-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
  }

  .main-menu__body._active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .main-menu__body._active .main-menu__link {
    color: #fff;
    -webkit-transition: all 0.1s ease 0.3s;
    -o-transition: all 0.1s ease 0.3s;
    transition: all 0.1s ease 0.3s;
  }

  .main-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-menu__item {
    margin-bottom: 28px;
  }

  .main-menu__item:last-child {
    margin: 0;
  }

  .main-menu__link {
    font-size: 20px;
  }

  .user-submenu__container {
    top: 85%;
    right: -10px;
    max-height: calc(100vh - 85%);
    overflow-y: auto;
  }

  .user-submenu__list {
    width: 220px;
  }

  .user-submenu__list ._moved-node {
    margin: 0 0 15px 0;
  }

  .user-submenu__list ._moved-node a {
    font-size: 18px;
  }

  .user-submenu__item {
    margin: 0 0 20px 0;
  }

  .user-submenu__item:last-child {
    margin: 0;
  }

  .user-submenu__link {
    font-size: 18px;
  }

  .footer {
    padding: 35px 0px;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0 50px;
  }

  .footer__column:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .footer__column:nth-child(2) {
    margin-bottom: 20px;
  }

  .footer__column:last-child {
    margin-bottom: 20px;
  }

  .footer__logo {
    margin: 0 20px 0 0;
  }

  .footer__menu-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__phone {
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__callback {
    margin: 20px 20px 20px 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .page {
    padding: 45px 0;
  }

  .categories-lots__link span::before {
    margin-bottom: 10px;
  }

  .categories-lots__link span::after {
    bottom: 20px;
  }

  .about-us__text p {
    text-align: justify;
  }

  .info__block {
    margin: 0 -20px;
  }

  .info__section {
    padding: 0px 20px;
  }

  .subscribe-section__form {
    margin: 0 -20px;
  }

  .subscribe-section__col {
    padding: 10px 20px;
  }
}

@media (max-width: 767.98px) {
  .section-header__suptitle {
    margin-bottom: 20px;
  }

  .section-header__decor-line {
    padding: 20px 0px 10px;
  }

  .section-header__decor-line::before,
  .section-header__decor-line::after {
    height: 20px;
  }

  .section-header__decor-icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    width: 40px;
    height: 40px;
  }

  .popular-lots {
    padding: 65px 0px 0px;
  }

  .slider-lots__controls {
    max-width: 100%;
    margin: 0 25px;
  }

  .services {
    padding: 30px 0px 50px;
  }

  .services__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    margin-bottom: 40px;
  }

  .services__column:last-child {
    margin-bottom: 0;
  }

  .block-quotes__row {
    padding: 0px 10px;
  }

  .block-quotes__image {
    margin-right: 30px;
  }
}

@media (max-width: 659.98px) {
  .main-menu__body {
    width: calc(100% - 6px);
    height: 100vh;
  }

  .footer__row {
    padding: 0 25px;
  }

  .footer__column:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__logo {
    margin: 0 0 20px;
  }

  .page__popular-lots {
    margin-bottom: 40px;
  }

  .page__categories {
    margin-bottom: 50px;
  }

  .page__about-us {
    margin-bottom: 40px;
  }

  .page__quotes {
    margin-bottom: 40px;
  }

  .page__info {
    margin-bottom: 30px;
  }

  .section-header__decor-icon {
    margin: 0 25px;
  }

  .button {
    font-size: 18px;
  }

  .button_main {
    padding: 14px 30px;
  }

  .categories-lots__item::before {
    top: -20px;
  }

  .categories-lots__item:nth-child(n) {
    margin: 20px 15px;
  }

  .categories-lots__item:nth-child(-n + 2)::before {
    display: none;
  }

  .about-us__text {
    background: none;
    padding: 10px 20px;
  }

  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 300px;
    margin-bottom: 40px;
  }

  .services__column:last-child {
    margin-bottom: 0;
  }

  .services__icon {
    margin-bottom: 5px;
  }

  .services__label {
    margin-bottom: 15px;
  }

  .services__description {
    margin-bottom: 5px;
  }

  .quotes__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    width: 40px;
    height: 40px;
  }

  .info-title {
    text-align: center;
  }

  .info__section {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 30px;
  }

  .info__section:last-child {
    margin-bottom: 0;
  }

  .section-info__title {
    margin-bottom: 20px;
  }

  .section-info__item {
    margin-bottom: 20px;
  }

  .section-info__text {
    text-align: justify;
  }

  .subscribe-section__title {
    margin-bottom: 10px;
  }

  .subscribe-section__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .subscribe-section__col:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .subscribe-section__desc {
    text-align: justify;
  }

  .input-form__email {
    padding: 10px;
  }

  .input-form__submit {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    width: 80px;
  }

  .input-form__submit::after {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
    width: 20px;
  }
}

@media (max-width: 479.98px) {
  .footer__row {
    padding: 0;
  }

  .footer__contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slider-lots__controls {
    max-width: 100%;
    margin: 0;
  }

  .slider-lots__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 120px;
            flex: 0 1 120px;
  }

  .slider-lots__link {
    padding: 0px 10px;
    margin: 0 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
    width: 70px;
    height: 70px;
    font-size: 16px;
  }

  .categories-lots__item:nth-child(n) {
    margin: 20px 0px;
  }

  .quotes {
    padding: 40px 0;
  }

  .quotes__header {
    margin-bottom: 25px;
  }

  .quotes__button {
    margin: 0 45px;
  }

  .block-quotes__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-quotes__image {
    margin-right: 0;
    width: 100%;
    padding-bottom: 60%;
  }
}

@media (min-width: 479.98px) and (max-width: 767.98px) {
  .main-slider__text {
    font-size: 18px;
  }
}

.webp .user-submenu__link_region::before{ background: url(../img/icons/header/global.webp) center/20px 20px no-repeat; }

.webp .user-submenu__link_login::before{ background: url(../img/icons/header/key.webp) 0 0/contain no-repeat; }

.webp .section-header__decor-icon_products{ background-image: url(../img/icons/catalog/watch.webp); }

.webp .section-header__decor-icon_services{ background-image: url(../img/icons/services/services.webp); }

.webp .section-header__decor-icon_quotes{ background-image: url(../img/icons/quotes/quote.webp); }

.webp .main-slider__slide{ background: url(../img/bg.webp) center/cover no-repeat; }

.webp .main-slider__slide:nth-child(2){ background: url(../img/bg-2.webp) center/cover no-repeat; }

.webp .categories-lots__link_watch{ background-image: url(../img/categories/watch.webp); }

.webp .categories-lots__link_jewelery{ background-image: url(../img/categories/jewelery.webp); }

.webp .categories-lots__link_transport{ background-image: url(../img/categories/ship.webp); }

.webp .categories-lots__link_accessories{ background-image: url(../img/categories/accessories.webp); }

.webp .categories-lots__link_real-estate{ background-image: url(../img/categories/estate.webp); }

.webp .categories-lots__link_hi-tech{ background-image: url(../img/categories/hi-tech.webp); }

.webp .categories-lots__link_clothes{ background-image: url(../img/categories/clothes.webp); }

.webp .categories-lots__link_art{ background-image: url(../img/categories/art.webp); }

.webp .categories-lots__link_food{ background-image: url(../img/categories/food.webp); }

.webp .services__icon_valuation{ background-image: url(../img/icons/services/valuation.webp); }

.webp .services__icon_components{ background-image: url(../img/icons/services/components.webp); }

.webp .services__icon_repair{ background-image: url(../img/icons/services/repair.webp); }